<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>creator</key>
		<string>安妮</string>
		<key>medicalrecordnum</key>
		<string>1235461309627</string>
		<key>name</key>
		<string>王小明</string>
		<key>bednum</key>
		<integer>0</integer>
		<key>treatparam</key>
		<dict>
			<key>machinetype</key>
			<integer>56833</integer>
			<key>modeshowname</key>
			<string>立体动态干扰电</string>
			<key>time</key>
			<integer>20</integer>
			<key>paramlist</key>
			<array>
				<dict>
					<key>showname</key>
					<string>通道数</string>
					<key>value</key>
					<string>3</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>时间(min)</string>
					<key>value</key>
					<string>20</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>幅值</string>
					<key>value</key>
					<string>100</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>载频</string>
					<key>value</key>
					<string>2000</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>差频</string>
					<key>value</key>
					<string>200</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>调制波形</string>
					<key>value</key>
					<string>方波</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>bednum</key>
		<integer>0</integer>
		<key>creator</key>
		<string>安妮</string>
		<key>medicalrecordnum</key>
		<string>123124694720</string>
		<key>name</key>
		<string>七堇年</string>
		<key>treatparam</key>
		<dict>
			<key>modeshowname</key>
			<string>调制中频电</string>
			<key>machinetype</key>
			<integer>56833</integer>
			<key>time</key>
			<integer>40</integer>
			<key>paramlist</key>
			<array>
				<dict>
					<key>showname</key>
					<string>通道数</string>
					<key>value</key>
					<string>1</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>时间(min)</string>
					<key>value</key>
					<string>40</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>幅值</string>
					<key>value</key>
					<string>100</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>载频</string>
					<key>value</key>
					<string>2000</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>差频</string>
					<key>value</key>
					<string>200</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>调制波形</string>
					<key>value</key>
					<string>三角波</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>bednum</key>
		<integer>0</integer>
		<key>creator</key>
		<string>DR.LI</string>
		<key>medicalrecordnum</key>
		<string>123122964738</string>
		<key>name</key>
		<string>kitty</string>
		<key>treatparam</key>
		<dict>
			<key>machinetype</key>
			<integer>7681</integer>
			<key>modeshowname</key>
			<string>梯度治疗</string>
			<key>time</key>
			<integer>100</integer>
			<key>paramlist</key>
			<array>
				<dict>
					<key>showname</key>
					<string>A气囊类型</string>
					<key>value</key>
					<string>手臂三腔</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>B气囊类型</string>
					<key>value</key>
					<string>腿部梯度</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>A、B端优先</string>
					<key>value</key>
					<string>A</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>压力值(mmHg)</string>
					<key>value</key>
					<string>150</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>时间(min)</string>
					<key>value</key>
					<string>100</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>模式</string>
					<key>value</key>
					<string>4</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>bednum</key>
		<integer>0</integer>
		<key>creator</key>
		<string>DR.LI</string>
		<key>medicalrecordnum</key>
		<string>558994471254</string>
		<key>name</key>
		<string>茸徒</string>
		<key>treatparam</key>
		<dict>
			<key>machinetype</key>
			<integer>7681</integer>
			<key>modeshowname</key>
			<string>梯度治疗</string>
			<key>time</key>
			<integer>50</integer>
			<key>paramlist</key>
			<array>
				<dict>
					<key>showname</key>
					<string>时间(min)</string>
					<key>value</key>
					<string>50</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>A气囊类型</string>
					<key>value</key>
					<string>腿部梯度</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>B气囊类型</string>
					<key>value</key>
					<string>腿部梯度</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>A、B端优先</string>
					<key>value</key>
					<string>A</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>压力值</string>
					<key>value</key>
					<string>150mmHg</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>模式</string>
					<key>value</key>
					<string>4</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>bednum</key>
		<integer>0</integer>
		<key>creator</key>
		<string>安妮</string>
		<key>medicalrecordnum</key>
		<string>478964015478</string>
		<key>name</key>
		<string>jasper</string>
		<key>treatparam</key>
		<dict>
			<key>machinetype</key>
			<integer>57119</integer>
			<key>time</key>
			<integer>20</integer>
			<key>paramlist</key>
			<array>
				<dict>
					<key>showname</key>
					<string>治疗时间(min)</string>
					<key>value</key>
					<string>20</string>
				</dict>
				<dict>
					<key>showname</key>
					<string>强度</string>
					<key>value</key>
					<string>一级</string>
				</dict>
			</array>
			<key>modeshowname</key>
			<string>梯度治疗</string>
		</dict>
	</dict>
</array>
</plist>
