<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>creater</key>
		<string>安妮</string>
		<key>sickhistorynum</key>
		<string>1235461</string>
		<key>patientname</key>
		<string>王小明</string>
		<key>physicaltreat</key>
		<dict>
			<key>name</key>
			<string>方案一</string>
			<key>type</key>
			<string>56833</string>
			<key>treatway</key>
			<dict>
				<key>type</key>
				<string>56833</string>
				<key>modeshowname</key>
				<string>电流波形</string>
				<key>modevalue</key>
				<string>调制中频电</string>
				<key>list</key>
				<array>
					<dict>
						<key>name</key>
						<string>通道数</string>
						<key>value</key>
						<string>3</string>
					</dict>
					<dict>
						<key>name</key>
						<string>时间</string>
						<key>value</key>
						<string>40min</string>
					</dict>
					<dict>
						<key>name</key>
						<string>幅值</string>
						<key>value</key>
						<string>100</string>
					</dict>
					<dict>
						<key>name</key>
						<string>载频</string>
						<key>value</key>
						<string>2000</string>
					</dict>
					<dict>
						<key>name</key>
						<string>差频</string>
						<key>value</key>
						<string>200</string>
					</dict>
					<dict>
						<key>name</key>
						<string>调制波形</string>
						<key>value</key>
						<string>方波</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>creater</key>
		<string>安妮</string>
		<key>sickhistorynum</key>
		<string>123124</string>
		<key>patientname</key>
		<string>七堇年</string>
		<key>physicaltreat</key>
		<dict>
			<key>name</key>
			<string>方案一</string>
			<key>type</key>
			<string>56833</string>
			<key>treatway</key>
			<dict>
				<key>type</key>
				<string>56833</string>
				<key>modeshowname</key>
				<string>电流波形</string>
				<key>modevalue</key>
				<string>调制中频电</string>
				<key>list</key>
				<array>
					<dict>
						<key>name</key>
						<string>通道数</string>
						<key>value</key>
						<string>1</string>
					</dict>
					<dict>
						<key>name</key>
						<string>时间</string>
						<key>value</key>
						<string>40min</string>
					</dict>
					<dict>
						<key>name</key>
						<string>幅值</string>
						<key>value</key>
						<string>100</string>
					</dict>
					<dict>
						<key>name</key>
						<string>载频</string>
						<key>value</key>
						<string>2000</string>
					</dict>
					<dict>
						<key>name</key>
						<string>差频</string>
						<key>value</key>
						<string>200</string>
					</dict>
					<dict>
						<key>name</key>
						<string>调制波形</string>
						<key>value</key>
						<string>三角波</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>creater</key>
		<string>DR.LI</string>
		<key>sickhistorynum</key>
		<string>123122</string>
		<key>patientname</key>
		<string>kitty</string>
		<key>physicaltreat</key>
		<dict>
			<key>name</key>
			<string>方案一</string>
			<key>type</key>
			<string>7681</string>
			<key>treatway</key>
			<dict>
				<key>type</key>
				<string>7681</string>
				<key>modeshowname</key>
				<string>治疗方案</string>
				<key>modevalue</key>
				<string>标准治疗</string>
				<key>list</key>
				<array>
					<dict>
						<key>name</key>
						<string>A气囊类型</string>
						<key>value</key>
						<string>腿部梯度</string>
					</dict>
					<dict>
						<key>name</key>
						<string>B气囊类型</string>
						<key>value</key>
						<string>腿部梯度</string>
					</dict>
					<dict>
						<key>name</key>
						<string>A、B端优先</string>
						<key>value</key>
						<string>A</string>
					</dict>
					<dict>
						<key>name</key>
						<string>压力值</string>
						<key>value</key>
						<string>150mmHg</string>
					</dict>
					<dict>
						<key>name</key>
						<string>时间</string>
						<key>value</key>
						<string>20min</string>
					</dict>
					<dict>
						<key>name</key>
						<string>模式</string>
						<key>value</key>
						<string>4</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>creater</key>
		<string>DR.LI</string>
		<key>sickhistorynum</key>
		<string>558994</string>
		<key>patientname</key>
		<string>茸徒</string>
		<key>physicaltreat</key>
		<dict>
			<key>name</key>
			<string>方案一</string>
			<key>type</key>
			<string>7681</string>
			<key>treatway</key>
			<dict>
				<key>type</key>
				<string>7681</string>
				<key>modeshowname</key>
				<string>治疗方案</string>
				<key>modevalue</key>
				<string>梯度方案</string>
				<key>list</key>
				<array>
					<dict>
						<key>name</key>
						<string>A气囊类型</string>
						<key>value</key>
						<string>腿部梯度</string>
					</dict>
					<dict>
						<key>name</key>
						<string>B气囊类型</string>
						<key>value</key>
						<string>腿部梯度</string>
					</dict>
					<dict>
						<key>name</key>
						<string>A、B端优先</string>
						<key>value</key>
						<string>A</string>
					</dict>
					<dict>
						<key>name</key>
						<string>压力值</string>
						<key>value</key>
						<string>150mmHg</string>
					</dict>
					<dict>
						<key>name</key>
						<string>模式</string>
						<key>value</key>
						<string>4</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>creater</key>
		<string>安妮</string>
		<key>sickhistorynum</key>
		<string>478964</string>
		<key>patientname</key>
		<string>jasper</string>
		<key>physicaltreat</key>
		<dict>
			<key>name</key>
			<string>方案一</string>
			<key>type</key>
			<string>57119</string>
			<key>treatway</key>
			<dict>
				<key>type</key>
				<string>57119</string>
				<key>modeshowname</key>
				<string>治疗方案</string>
				<key>modevalue</key>
				<string></string>
				<key>list</key>
				<array>
					<dict>
						<key>name</key>
						<string>时间</string>
						<key>value</key>
						<string>20min</string>
					</dict>
					<dict>
						<key>name</key>
						<string>能量</string>
						<key>value</key>
						<string>三级</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
</array>
</plist>
