<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questionw</key>
	<array>
		<dict>
			<key>diagnosistype</key>
			<string>一般情况</string>
			<key>question</key>
			<array>
				<dict>
					<key>name</key>
					<string>体温</string>
					<key>ismultiselection</key>
					<false/>
					<key>selection</key>
					<array>
						<string>正常</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>急性外伤史</string>
					<key>ismultiselection</key>
					<false/>
					<key>selection</key>
					<array>
						<string>无</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>手术后</string>
					<key>ismultiselection</key>
					<false/>
					<key>selection</key>
					<array>
						<string>无</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>骨质疏松史</string>
					<key>ismultiselection</key>
					<false/>
					<key>selection</key>
					<array>
						<string>无</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>diagnosistype</key>
			<string>疼痛描述</string>
			<key>question</key>
			<array>
				<dict>
					<key>name</key>
					<string>疼痛的部位和范围</string>
					<key>ismultiselection</key>
					<false/>
					<key>selection</key>
					<array>
						<string>弥漫的</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>疼痛发生的过程</string>
					<key>ismultiselection</key>
					<false/>
					<key>selection</key>
					<array>
						<string>慢性的</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>疼痛的性质</string>
					<key>ismultiselection</key>
					<true/>
					<key>selection</key>
					<array>
						<string>灼热痛</string>
						<string>放射痛</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>疼痛区域感觉异常</string>
					<key>ismultiselection</key>
					<true/>
					<key>selection</key>
					<array>
						<string>感觉过敏</string>
						<string>吹凉风的感觉</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>questione</key>
	<array>
		<dict>
			<key>diagnosistype</key>
			<string>望</string>
			<key>question</key>
			<array>
				<dict>
					<key>name</key>
					<string>肤色</string>
					<key>ismultiselection</key>
					<false/>
					<key>selection</key>
					<array>
						<string>正常</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>肿胀</string>
					<key>ismultiselection</key>
					<false/>
					<key>selection</key>
					<array>
						<string>正常</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>diagnosistype</key>
			<string>触</string>
			<key>question</key>
			<array>
				<dict>
					<key>name</key>
					<string>肤温</string>
					<key>ismultiselection</key>
					<false/>
					<key>selection</key>
					<array>
						<string>正常</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>触痛</string>
					<key>ismultiselection</key>
					<false/>
					<key>selection</key>
					<array>
						<string>麻木不仁</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>painfactorw</key>
	<string>痉挛性疼痛</string>
	<key>painarea</key>
	<string>肌肉</string>
	<key>painfactore</key>
	<string>寒</string>
	<key>vasbefore</key>
	<string>50</string>
	<key>vasafter</key>
	<string>40</string>
	<key>treatparam</key>
	<array>
		<dict>
			<key>treattime</key>
			<string>20</string>
			<key>pressure</key>
			<string>100</string>
		</dict>
	</array>
	<key>operator</key>
	<string>doctorLi</string>
</dict>
</plist>
